.aside-left {
  width: 18%;

  display: flex;
  flex-direction: column;

  .sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 17.6%;

    max-height: calc(100vh - 95px - 20px);
    overflow: auto;

    .catalog-tree {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 16px;
      overflow: auto;
      background-color: white;
      border-radius: 20px;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &__item {
        display: flex;
        align-items: center;
        padding: 4px 0;
        gap: 8px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        color: $gray;
        position: relative;

        &:hover .catalog-tree__item-img::after {
          opacity: 0.1;
        }

        &-img {
          width: 32px;
          height: 32px;
          border-radius: 6px;
          background-size: cover;
          background-position: bottom;
          position: relative;
          transition: opacity 0.2s ease-in-out;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #404040;
            border-radius: 6px;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
          }
        }

        &-text {
          color: #595959;
        }
      }

      &__subcategories {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding-top: 3px;
        padding-bottom: 15px;
        a {
          margin-left: 40px;
          span {
            color: #595959;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: -0.1px;
          }
        }
      }
    }
  }
}

.clickable-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
}
