.aside-left {
  bottom: 20px;
  top: 95px;

  width: 32.5%;
  display: flex;
  flex-direction: column;

  .sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 17.6%;
    max-height: calc(100vh - 95px - 20px);

    overflow: auto;

    .catalog-tree {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px;
      overflow: auto;

      background-color: white;
      border-radius: 20px;

      scrollbar-width: none;

      &__item {
        display: flex;
        align-items: center;
        padding: 4px 0;

        gap: 8px;

        cursor: pointer;

        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        color: $gray;

        &-img {
          width: 32px;
          height: 32px;

          border-radius: 6px;
          background-size: cover;
          background-position: bottom;

          position: relative;

          transition: opacity 0.2s ease-in-out;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #404040;
            border-radius: inherit;
            opacity: 0;

            z-index: 2;
          }

          &:hover::after {
            opacity: 0.1;
          }
        }
      }
    }
  }
}
