.header {
  display: flex;
  align-items: center;

  position: fixed;
  left: 10px;

  width: calc(100% - 10px - 10px);

  margin: 0 auto;
  padding: 16px 10px;
  gap: 10px;

  background-color: #ffffff;

  border-radius: 0 0 32px 32px;

  &__logo {
    padding-left: 12px;
    padding-right: 61px;

    cursor: pointer;
  }

  &__button-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    min-width: 325px;

    padding: 12px 20px;

    border-radius: 35px;
    border: 0;

    cursor: pointer;

    span {
      color: rgb(76, 76, 76);
      font-size: 16px;
      font-weight: 600;
    }
  }
}
