.location {
  width: 44%;
  max-height: 85%;

  border-radius: 20px;
  background-color: white;

  padding: 16px;

  .sidebar {
    .addressConfirm {
      width: 100%;
      height: auto;
      &__title {
        padding-bottom: 5px;

        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
      }

      &__text {
        color: rgb(166, 166, 166);

        font-weight: 600;

        padding-top: 10px;
      }

      .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: start;
        gap: 30px;

        padding: 20px 5px;

        button {
          width: fit-content;
          height: 36px;

          background-color: $coral;
          border: 0;
          border-radius: 40px;

          padding: 0 16px;

          color: white;
          font-weight: 600;

          cursor: pointer;

          &:last-child {
            background-color: $dark-gray;

            &:hover {
              background-color: #2a2a2a;
            }
          }

          &:hover {
            background-color: #f91e4e;
          }
        }
      }
    }
  }
}
