.main {
  width: 53%;
  padding: 16px;
  border-radius: 32px 32px 32px 32px;
  background-color: white;
  position: fixed;

  &__container {
    display: flex;
    flex-direction: column;
    min-height: calc(-72px + 100vh);
    padding-top: 30px;
    overflow: auto;
    div {
      padding-left: 16px;
      margin-bottom: 32px;
      line-height: 36px;
      .main__container-text {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.6px;
        color: $dark-gray;
        &:first-child {
          color: rgb(166, 166, 166);
        }
      }
    }
  }
}
