.main {
  width: 100%;

  height: fit-content;
  border-radius: 32px;
  background-color: white;
  position: relative;

  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 32px 32px 0 0;

    z-index: 1000;
    border-radius: 32px 32px 0 0;
    height: 32px;
    width: 100%;
    background-color: white;

    border: 1px solid black;
  }

  &__container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 72px);
    padding: 0 16px 16px;

    padding-top: 30px;

    .text__container {
      padding-left: 16px;
      margin-bottom: 32px;
      line-height: 36px;
      .main__container-text {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.6px;
        color: $dark-gray;

        &:first-child {
          color: rgb(166, 166, 166);
        }
      }
    }

    .card__title {
      font-size: 28px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: -0.6px;
      color: $dark-gray;
      margin-bottom: 20px;

      &:first-of-type {
        display: none;
      }
    }
    .card {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      gap: 8px;
      margin-bottom: 40px;

      @media (max-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .card-block {
          // height: 280px;
        }
      }

      &-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        margin-bottom: 0;
        width: 100%;
        height: 225px;
        background-color: $gray;
        border-radius: 15px;
        overflow: hidden;

        &-text {
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: -0.05px;
          color: $dark-gray;
          z-index: 100;
        }

        .card__container {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          width: 100%;
          height: 100%;

          &-img {
            width: 100%;
            height: 110%;
            position: relative;
            overflow: hidden;

            img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              background-repeat: no-repeat;

              object-position: bottom;
            }
          }
        }
      }
    }
  }
}
