.p2SemiBold {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #595959;

  word-wrap: break-word;
}

.p1SemiBold {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: -0.05px;
  color: rgb(166, 166, 166);
}

.p3SemiBold {
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.02px;
}

.h1Bold {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #595959;
}

.h2Bold {
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.6px;
  color: #404040;
}

.h3Bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.4px;
  color: #404040;
}

.h4Bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #404040;
}

.h4SemiBold {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #404040;
}
