.right,
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 416px;
  height: 100%;
}

.right.sidebar {
  max-height: calc(100% - 88px - 24px);
  padding: 24px 0;
}

.sidebar {
  max-height: calc(100% - 88px - 24px);
  padding: 24px 0;

  position: fixed;
  z-index: 1;
}

@media screen and (max-width: 1919px) {
  .right,
  .sidebar {
    max-width: 336px;
  }
}
@media screen and (max-width: 1439px) {
  .right,
  .sidebar {
    gap: 12px;
    max-height: calc(100% - 80px - 16px);
    // padding: 16px 0;
  }
}
