@import "../../../scss/variables";

.nutritions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
  border-top: 1px solid $gray;

  .text {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: $gray-light;
  }

  .list {
    display: flex;
    gap: 8px;
    .nutrition {
      display: flex;
      flex-basis: 25%;
      flex-direction: column;

      .text:first-child {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.32px;
        color: $dark-gray;
      }
    }
  }
}
