@import "../../scss/variables";

.root {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  .imgContainer {
    position: relative;
    flex-shrink: 0;
    width: 83px;
    height: 83px;
    overflow: hidden;
    background-color: $gray;
    border-radius: 12px;
    width: 100%;
    height: auto;
    padding-bottom: 100%;
    border-radius: 18px;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0px;
      color: transparent;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    .details {
      flex-grow: 1;

      .name {
        display: -webkit-box;
        padding-top: 6px;
        overflow: hidden;
        line-height: 13px;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
