@import "../../../scss/variables";
.header {
  position: sticky;
  top: 88px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
  background: $gray;

  @media screen and (max-width: 1919px) {
    top: 80px;
  }

  @media screen and (max-width: 1439px) {
    gap: 12px;
  }
  .contentHeader {
    height: 32px;
    background-color: white;
    border-radius: 32px 32px 0 0;
  }
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 24px 24px;
  background-color: white;
  border-radius: 0 0 32px 32px;

  @media screen and (max-width: 1919px) {
    padding: 0 16px 16px;
  }
}
