.sberId__button {
  background-color: #21a038;

  &:hover {
    background-color: #1d8a31;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 100%;
    max-width: 304px;
    height: 56px;
    padding: 0 24px;
    line-height: 19px;
    letter-spacing: -0.05px;
    .sberId__icon {
      width: 22px;
      height: 22px;
      fill: white;
    }

    span {
      color: white;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: -0.05px;
    }
  }
}
