@import "../../../scss/variables";
.button__control {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: $dark-gray;
  cursor: pointer;
  background-color: $gray-light;
  border: none;
  max-width: 304px;
  height: 56px;
  padding: 0 24px;
  border-radius: 56px;
}

.button__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
