.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  overflow: auto;
  overscroll-behavior-y: contain;
  -webkit-user-select: none;
  user-select: none;
  background: white;
  border-radius: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
