@import "../../../scss/variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  min-width: 325px;

  padding: 12px 20px;

  border-radius: 35px;
  border: 0;
  background-color: $gray;

  cursor: pointer;

  span {
    color: rgb(76, 76, 76);
    font-size: 16px;
    font-weight: 600;
  }
}
