.header {
  position: fixed;
  left: 50%;
  z-index: 5;
  display: flex;
  gap: 24px;
  align-items: center;
  width: calc(100% - 24px - 24px);
  max-width: calc(264px + 24px + 1144px + 24px + 416px);
  padding: 16px 24px;
  background-color: white;
  border-radius: 0 0 32px 32px;
  transform: translateX(-50%);

  @media screen and (max-width: 1919px) {
    gap: 16px;
    width: calc(100% - 16px - 16px);
    max-width: calc(236px + 16px + 1144px + 16px + 336px);
    padding: 16px;
  }

  .logo {
    padding-right: 87px;

    img {
      color: transparent;
    }

    @media screen and (max-width: 1919px) {
      padding-right: 61px;
      padding-left: 6px;
    }
  }
}
