@import "../../../scss/variables";

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .formField {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 32px;
    justify-content: center;
    text-align: center;
  }
}

.button {
  .buttonM {
    background-color: $coral;

    span {
      color: white;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: -0.05px;
    }
  }
}

.phoneLabel {
  display: block;
  text-align: center;
  color: rgb(166, 166, 166);
}

.phoneInput {
  width: 100%;
  padding: 0;
  margin: 0;
  caret-color: #ff335f;
  color: #404040;
  border: none;
  outline: #0000;
  text-align: center;

  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}
