.root {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  .grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-auto-rows: max-content;
    grid-gap: 8px;
    gap: 8px;

    @media screen and (max-width: 1919px) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }
}
