@import "../../scss/_variables.scss";

.return {
  display: flex;
  align-items: center;
  width: 48px;
  height: 32px;
  padding: 0 16px;
  margin-right: 10px;

  border-radius: 20px;
  border: 0;

  cursor: pointer;

  &:hover {
    background-color: #e0e0e0;
    transition: all 200ms ease-in;
  }

  &__icon {
    width: 16px;
    height: 16px;
  }
}

.text__container {
  display: flex;
}

.title {
  color: $dark-gray;
  font-size: 28px;
}

.categoryButtons__wrapper {
  display: flex;

  column-gap: 4px;
  margin: 20px 0 40px;

  .button__text {
    font-size: 14px;
    font-weight: 600;
    color: $dark-gray !important;
    line-height: 18px;
    letter-spacing: -0.1px;

    cursor: pointer;
  }
}

.products__root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
  .cards {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-rows: max-content;

    gap: 20px 8px;
    max-width: 100%;

    @media screen and (min-width: 1920px) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    @media screen and (min-width: 1024px) and (max-width: 1440px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .productCard__root {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      height: 100%;
      cursor: pointer;

      position: relative;
      width: 100%;
      height: auto;

      .productImg__root {
        height: auto;
        width: 100%;
        padding-bottom: 100%;
        img {
          position: absolute;
          width: 100%;
          height: auto;
          inset: 0px;
          border-radius: 18px;
        }
      }

      .productCard__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;

        .productCard__title__root {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          padding-top: 6px;
          overflow: hidden;
          line-height: 13px;
          text-overflow: ellipsis;
          .productCard__title {
            font-size: 13px;
            font-weight: 600;
            line-height: 15px;
            letter-spacing: 0.02px;
          }
        }

        .productCard__weight__root {
          overflow: hidden;
          line-height: 15px;
          text-overflow: ellipsis;
          white-space: nowrap;

          .productCard__weight {
            color: rgb(166, 166, 166);
            font-size: 13px;
            font-weight: 600;
            line-height: 15px;
            letter-spacing: 0.02px;
          }
        }
      }
    }
  }
}
