@import './libs/normalize';
@import './variables';

@import './components/all';

body {
  background-color: $gray;
}

.section {
  position: relative;
  top: 95px;

  display: flex;
  justify-content: center;
}
