@import './libs/normalize';
@import './variables';

@import './components/all';

body {
  background-color: $gray;
}

.section {
  position: relative;

  display: flex;

  height: 100vh;

  gap: 10px;

  top: 80px;
  padding: 15px 10px 10px;

  &__container {
    display: flex;
    flex-direction: column;

    width: 54%;
  }
}
